# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir


# composer itself is not needed


# Mac DS_Store Files
*/.DS_Store
.DS_Store

# phpunit itself is not needed

# local phpunit config


# vagrant runtime



# ctags sort
.tags
.tags_sorted_by_file


.htaccess
.nginx.htaccess